body {
    background: #f6f3e4 url('bkg2.gif');
    color: #333;
    font:16px/24px 'American Typewriter', Georgia, sans-serif;
    margin:0;
    padding:0;
}
header {
    font-size: 36px;
    color: #333;
    font-weight:bold;
    text-shadow: #f6f3e4 2px 2px 1px;
    padding: 0;
    margin: 20px;
    width: 960px;
    position:fixed;
    height:24px;
    display:block;
    z-index:10001;
    text-align:center;
    cursor:pointer;
}
section {
    background:#fff url('bkg1.gif');
    padding: 0 20px;
    margin: 20px;
    width: 960px;
    border: 1px solid #f6f3e4;
    border-radius: 8px;
    -moz-border-radius: 8px;
    display: block;
}
h1, h2, h3 { color: #006699; }
menu {
    background:#fff url('bkg3.gif');
    color: #fff;
    margin: 20px;
    width: 960px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    padding: 0 20px;
    /*position:relative;*/
    position:fixed;
    z-index:1000;
}
a {
    color: #0099cc;
}
menu a {
    color:#fff;
    text-decoration:none;
}
a:hover {
    color: #cc0000;
    text-decoration:underline;
}
menu ul {
    padding: 0;
    margin: 0 auto;
    float: left;
}
ul {
    padding: 0;
    list-style: circle inside;
}
menu ul > li {
    list-style-type: none;
    float: left;
    padding: 10px 12px 10px 0;
}
em {
    font-style:normal;
    color: #999999;
}

.menu-placeholder {
    height:63px;
}
.header-placeholder {
    height:44px;
}
